<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="ni_ussd_url"><![CDATA[https://125.18.107.19/MobileConnect/PushServlet?PUSH_TYPE=3&MSISDN={0}&PUSH_TEXT={1}&USER_ID=airtelussd&PASSWORD=airtel@123]]></entry>
	<entry key="ussd_callback"><![CDATA[http://172.22.163.88:8090/ussd/route/{0}?resp=%vResponse%&reqID={1}]]></entry>
	<entry key="ussd_cont"><![CDATA[http://172.22.163.88:8090/ussd/mt-cont/{0}?resp=%vResponse%&reqID={1}]]></entry>
	<entry key="ussd_ni_match"><![CDATA[^(mtinit|mtcont|moinit|mocont|mtfin)[:][\d]{3}[:][\d]+$]]></entry>	
	<entry key="hubKey"><![CDATA[^(mtinit|mtcont|moinit|mocont|mtfin)[:][\d]{3}[:][\d]+$]]></entry>	
</properties>