<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ACRServer</servlet-name>
        <servlet-class>com.dialog.acr.controller.ACRServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppAuthenticateServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.AppAuthenticateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRBatchDeleteServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.ACRBatchDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRDeleteServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.ACRDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRFunctions</servlet-name>
        <servlet-class>com.dialog.acr.controller.functions.ACRController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppProvisionServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.AppProvisionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>com.dialog.acr.controller.functions.AppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APPCoupleServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.APPCoupleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRDeactivateServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.ACRDeactivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRCreateServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.ACRCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRRefreshServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.ACRRefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRRetrieveServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.ACRRetrieveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ACRDecodeServlet</servlet-name>
        <servlet-class>com.dialog.acr.view.request.ACRDecodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ACRRetrieveServlet</servlet-name>
        <url-pattern>/ACRRetrieveService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACRRefreshServlet</servlet-name>
        <url-pattern>/ACRRefreshService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACRCreateServlet</servlet-name>
        <url-pattern>/ACRCreateService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACRDeactivateServlet</servlet-name>
        <url-pattern>/ACRDeactivateService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACRServer</servlet-name>
        <url-pattern>/ACRServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppAuthenticateServlet</servlet-name>
        <url-pattern>/AppAuthenticateService</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ACRBatchDeleteServlet</servlet-name>
        <url-pattern>/ACRBatchDeleteService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACRDeleteServlet</servlet-name>
        <url-pattern>/ACRDeleteService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACRFunctions</servlet-name>
        <url-pattern>/ACRFunctions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppProvisionServlet</servlet-name>
        <url-pattern>/AppProvisionService/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/ApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APPCoupleServlet</servlet-name>
        <url-pattern>/APPCoupleService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ACRDecodeServlet</servlet-name>
        <url-pattern>/ACRDecodeService/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
