<scf>
	<name>Test Instance</name>
	<comm>
		<mms>
			<photoPath>C:/epf/photo/</photoPath>
			<dataPath>C:/epf/mms/att/</dataPath>
			<msgPath>C:/epf/mms/</msgPath>
		</mms>
		<email>
		  <photoPath>C:/epf/photo/</photoPath> 
		  <dataPath>C:/epf/email/att/</dataPath> 
		  <msgPath>C:/epf/email/</msgPath> 
		</email>
		<smsc>
			<debug>false</debug>
			<portMapping>
				<port>8992			
					<connection>1000</connection>
				</port>		
			</portMapping>
			<serviceInterval>5000</serviceInterval>
			<tickInterval>5000</tickInterval>
			<queCheckInterval>100</queCheckInterval>
			<connections>
				<connection>LocalConRX
					<id>1000</id>			
					<comm>
						<ip>172.22.27.19</ip>				
						<port>2775</port>	
						<socketTimeout>5000</socketTimeout>
						<inputBuffer>4096</inputBuffer>
						<outputBuffer>1024</outputBuffer>	
						<throttleDownTime>2</throttleDownTime>							
					</comm>
					<smsc>
						<mode>2</mode>				
						<systemId>migepf</systemId>
						<password>migepf</password>
						<sysType></sysType>				
						<defualtTON>0</defualtTON>
						<defaultNPI>0</defaultNPI>
						<addrRange>00*</addrRange>
						<srstat>0</srstat>
						<srcTON>0</srcTON>
						<srcNPI>0</srcNPI>
					</smsc>			
					<workerPool>
						<min>1</min>
						<sleepTime>1000</sleepTime>
					</workerPool>
					<pool>
						<min>1</min>
						<max>1</max>
						<idleTimeout>5000</idleTimeout> 
					</pool>
				</connection>				
			</connections>
		</smsc>
		<listener>mms
			<className>com.dialog.epf.core.comm.mms.MMSEmailMessageListener</className>
			<mode>pop3</mode>
			<ip>192.168.4.26</ip>
			<userName>7777</userName>	
			<password>279087</password>
			<delay>10000</delay>
			<filter>true</filter>
			<serviceName>MMS</serviceName>
		</listener>		
		<sender>mms			
			<className>com.dialog.epf.core.comm.mms.MMSEmailMessageSender</className>
			<ip>192.168.4.21</ip>
			<userName>7777</userName>	
			<password>279087</password>	
			<serviceName>MMS</serviceName>
			<from>+707</from>
		</sender>
		<listener>rv7Intl
			<className>com.dialog.epf.core.comm.smpp.SMPPMessageListner7Intl</className>
			<port1>B98992</port1>			
			<port2>B9</port2>
			<port3></port3>
			<port4></port4>						
			<ext>
				<command>MORE</command>
				<msgLength>160</msgLength>
				<sleepDelay>120000</sleepDelay>
				<idleDelay>120000</idleDelay>
			</ext>
			<filter>true</filter>
			<serviceName>SMS</serviceName>
		</listener>
		<listener>admin
			<className>com.dialog.epf.core.comm.admin.AdminListener</className>
			<port>8888</port>
			<phoneNo>94777335365</phoneNo>
		</listener>
		<sender>rv7Intl
			<serviceName>SMS</serviceName>
			<className>com.dialog.epf.core.comm.smpp.SMPPMessageSender7Intl</className>
			<chargeRef>8992</chargeRef>
		</sender>
	</comm>
	<messages>
		<general>
			<send>false</send>
			<message>General Exception</message>				
			<cmd>_GEN</cmd>
		</general>
	</messages>	
	<objectPools>
		<commandActPool>
			<size>10</size>
		</commandActPool>
		<workerPool>
			<size>10</size>
		</workerPool>
	</objectPools>
	<threadPool>		
		<min>2</min>
		<debug>0</debug>
	</threadPool>
	<applications>
		<path>smsapp</path>
		<errorlog>
			<pattern>%r %d{ISO8601} %l :%m %n </pattern>
		</errorlog>
		<applog>
			<pattern>%-20d{yyyy/MM/dd HH:mm:ss} %-5p %c %x %m%n</pattern>
		</applog>
		<applog_msg>
			<pattern>%-20d{yyyy/MM/dd HH:mm:ss} %m%n</pattern>
		</applog_msg>
		<banner>
			<enable>1</enable>
			<seperator>*</seperator>
			<default>Dialog GSM</default>
		</banner>
		<chargeRef>7777</chargeRef>
		<appRef>1000</appRef>
		<fromNumber>7777</fromNumber>			
		<srStat>1</srStat>	
	</applications>
</scf>